@font-face {
	font-family: 'Cascadia Code';
	src: url('./fonts/CascadiaCode.eot');
	src:
		url('./fonts/CascadiaCode.eot?#font-spider') format('embedded-opentype'),
		url('./fonts/CascadiaCode.woff') format('woff'),
		url('./fonts/CascadiaCode.ttf') format('truetype'),
		url('./fonts/CascadiaCode.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
code {
	font-weight: normal;
	font-style: normal;
	font-family: 'Cascadia Code';
}
